@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotation var(--speed, 28s) linear infinite;
}

.paused {
  animation-play-state: paused;
}
